
/*Estilos Generales*/
body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #e3f8fe;
    padding-top: 60px;
    box-sizing: border-box; 
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: center;
    left: 0;
    top: 0;
    margin: auto;
    z-index: 2000;
    background-color: transparent;
}

.header-assets {
    display: flex;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px; /* Limita el ancho máximo del contenido del header */
    margin: 0 auto; /* Centra el contenido dentro del header */
    flex-direction: column;
}

.Logo {
    padding: 0 0 20px 0;
}

h1 {
    margin: 0;
    color: #003C43;
    font-size: 50px; /* Ajusta el tamaño del título según necesites */
}

.footer {
    padding: 24px;
    text-align: center;
    font-size: 1.5rem;
    background-color: #003C43;
    
}


/*Estilos Contenido Principal*/
.container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 90%;
    max-width: 1200px;
    margin-top: 15px; /* Ajusta el espacio debajo del header para que no se solape */
}

.left-section, .right-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    width: 56.5%;
    height: 697px;
   
}

.left-section {
    gap: 20px;
}

/*Estilos de Objetos*/
textarea {
    width: 100%;
    height: 100%;
    resize: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #135D66;
    box-sizing: border-box;
}

.buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: #fff;
    transition: background-color 0.3s, transform 0.3s;
}

.btn-Encriptar {
    background-color: #135D66;
}

.btn-Encriptar:hover {
    background-color: #003C43;
    transform: scale(1.05);
}

.btn-Desencriptar {
    background-color: #77B0AA;
}

.btn-Desencriptar:hover {
    background-color: #135D66;
    transform: scale(1.05);
}

.btn-Limpiar {
    background-color: #fcb4b4;
    color: #003C43;
}

.btn-Limpiar:hover {
    background-color: #d16060;
    color: #fff;
    transform: scale(1.05);
}

.copy-button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #77B0AA;
    color: #fff;
    transition: background-color 0.3s, transform 0.3s;
}

.copy-button:hover {
    background-color: #135D66;
    transform: scale(1.05);
}

/*Diseño Responsivo*/

/* Diseño para pantallas grandes (desktop) */
@media (max-width: 1200px) {

    .header {
        padding: 10%;
    }

    .Logo {
        justify-content: flex-start;
    }

    .container {
        flex-direction: column;
        padding: 5%;
     }

     .left-section,
     .right-section {
        width: auto;
        height: auto;
     }
}